.navbar-survival101 {
    background-color: white;
}
    /* .navbar-survival101 .navbar-brand {
		  margin-right: 2.15rem;
		  padding: 3px 0 0 0;
		  line-height: 36px;
		} */

    .navbar-survival101 .navbar-brand img {
        vertical-align: middle;
    }

.navbar-expand-lg .navbar-nav .nav-link {
    color: black;
}






button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 9px;
    border-radius: 0.5em;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    width: 100px;
    height: 100px;
    background: white;
}




/*outer line color-profile the month boxes*/


.square {
    width: 112px;
    height: 100px;
    background: white;
}

    .square:focus {
        border-left: 1px solid #007bff;
        border-top: 1px solid #007bff;
        border-bottom: 8px solid #007bff;
        border-right: 1px solid #007bff;
    }

    .horizontal-scroll .btn-scroll{
        background-color:#fff;
        color:#999;
        padding:5px 8px;
        border:0;
        border-radius:50%;
        margin:0 5px;
        z-index:1;
        cursor:pointer;

    } 
