.bod {
    width: 165px;
    height: 100px;
    border-style: solid;
    border-color: green;
    border-radius: 1rem;
    margin: 5px;
}

.gbod {
    border-left: 6px solid green;
    height: 114px;
}

button {
    width: 11rem;
    height: 3rem;
}

a {
    text-decoration: none;
}
.line{
    border-bottom:2px solid silver;
    width:82rem;
    margin-top:5rem;

}